In [3]:
import pandas as pd

df = pd.read_csv('FinalModelMisclassifications.csv')

df

,Unnamed: 0,predicted,confidence,actual_label,actual_name,File
0,0,19,0.997892,19,American Tree Sparrow,croppedimages\0894/ed562ed4e1f34917aceb77b9219...
1,1,37,0.999001,37,Barrow's Goldeneye (Breeding male),croppedimages\0334/563d0c9eb19640c98263056c7fd...
2,2,425,0.182764,199,Eastern Bluebird,croppedimages\0842/e437ed8d6d61436e902618cb28c...
3,3,515,0.980625,515,White-crowned Sparrow (Adult),croppedimages\0766/f0d808b6b82943bd9b89abdc9c6...
4,4,550,0.923201,550,Yellow-rumped Warbler (Breeding Myrtle),croppedimages\0747/8a58557a9d70412582cc993298e...
...,...,...,...,...,...,...
2424,2424,364,0.485557,470,Summer Tanager (Female),croppedimages\0906/8c5116d41135429b822d51bf99e...
2425,2425,230,0.817628,230,Golden-crowned Sparrow (Adult),croppedimages\0767/85aa51aef02e412192fa93f293b...
2426,2426,137,0.846631,137,Carolina Chickadee,croppedimages\0811/022b83acb8454cc883b3ea0eca4...
2427,2427,418,0.835788,265,Herring Gull (Immature),croppedimages\0607/9c638e7aceca4993839cf1fcc98...
2428,2428,129,0.628261,129,"Calliope Hummingbird (Female, immature)",croppedimages\0676/0cf621c0b9164b3d8116e4363d2...

In [4]:
df.query('predicted!=actual_label')

,Unnamed: 0,predicted,confidence,actual_label,actual_name,File
2,2,425,0.182764,199,Eastern Bluebird,croppedimages\0842/e437ed8d6d61436e902618cb28c...
5,5,503,0.519051,142,Cassin's Kingbird,croppedimages\0933/daf63adb8249488da1e59ccb77c...
7,7,525,0.482573,32,Band-tailed Pigeon,croppedimages\0526/5a9c66af29bd4148afe50f0eb58...
17,17,373,0.872410,45,"Black Guillemot (Nonbreeding, juvenile)",croppedimages\0599/bdef727010664468951f2cdd561...
34,34,391,0.883140,392,Red Crossbill (Female/juvenile),croppedimages\0998/76818ce5ed194017a543361370b...
...,...,...,...,...,...,...
2415,2415,87,0.626396,340,Northern Parula,croppedimages\0873/1d1be1823bb24efd8543d70b8db...
2418,2418,515,0.417622,230,Golden-crowned Sparrow (Adult),croppedimages\0767/4844028c754e4e8d93ed2a73aee...
2421,2421,339,0.270348,14,American Pipit,croppedimages\0857/9ce413a0b663406c90c6d8daa6f...
2424,2424,364,0.485557,470,Summer Tanager (Female),croppedimages\0906/8c5116d41135429b822d51bf99e...
2427,2427,418,0.835788,265,Herring Gull (Immature),croppedimages\0607/9c638e7aceca4993839cf1fcc98...

In [11]:
#df.query('predicted!=actual_label').count('actual_name')

df[df['predicted'] != df['actual_label']].groupby('actual_name').count().sort_values('predicted', ascending=False).head(25)

,Unnamed: 0,predicted,confidence,actual_label,File
actual_name,,,,,
Hutton's Vireo,4,4,4,4,4
Western Wood-Pewee,4,4,4,4,4
Red-tailed Hawk (Light morph immature),4,4,4,4,4
Cooper's Hawk (Adult),4,4,4,4,4
Common Tern,4,4,4,4,4
Least Flycatcher,4,4,4,4,4
Nashville Warbler,4,4,4,4,4
Broad-winged Hawk (Adult),3,3,3,3,3
"Broad-tailed Hummingbird (Female, immature)",3,3,3,3,3
Fish Crow,3,3,3,3,3
Brown-headed Cowbird (Female/Juvenile),3,3,3,3,3
Western Gull (Immature),3,3,3,3,3
Cassin's Vireo,3,3,3,3,3
Brewer's Blackbird (Female/Juvenile),3,3,3,3,3
Boat-tailed Grackle,3,3,3,3,3
Sharp-shinned Hawk (Adult ),3,3,3,3,3
Semipalmated Sandpiper,3,3,3,3,3
Great Cormorant (Adult),3,3,3,3,3
Glaucous-winged Gull (Adult),3,3,3,3,3
Blackpoll Warbler (Female/juvenile),3,3,3,3,3
Hermit Thrush,3,3,3,3,3
Red-shouldered Hawk (Immature),3,3,3,3,3
House Finch (Female/immature),3,3,3,3,3
House Sparrow (Male),3,3,3,3,3
Allen's Hummingbird (Adult Male),3,3,3,3,3